
/* global */

* {
    line-height: 1.6;
}

img {

    max-width: 100%;
}


.main__nav__bar {

    background: transparent;

}


.split {

    display: flex;
    flex-wrap: wrap;
}

.spacing > * + * {

    margin-bottom: 2em;
}

.profile-pic {

    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 8%;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(32, 32, 32, 0.5);
}  

@media screen and (max-width: 768px) {

    .profile-pic {
        width: 15%;
    }
}

/* typography */


/* navbar-typography */
nav .active {
    color: skyblue;
    border-bottom: .5px solid white;
}   

/* components */

.nav-link {
    color: rgb(26, 25, 25);
}

/*
 ___________________________________________
 |
 | POST SECTION
 |
 |___________________________________________
*/

/* post index-page section */
.landing__page__posts {

    background: url('../storage/page_cover/blog.png');
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.landing__page__posts .no__post__found {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.landing__page__posts .no-post-text {

    font-size: 2.5rem;
    padding: 2.5rem;
}



/* post create */

.create-post-title {

    background: url('../storage/page_cover/postcreate.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 15vh;
    color: rgb(255, 255, 255);
    background-color: rgb(131, 109, 255);
    text-align: right;
    font-size: 2.5rem;
    padding: 1.75rem;
}

/*
 ___________________________________________
 |
 | PAGE SECTION
 |
 |___________________________________________
*/

/* about-us section */

.landing__page__about__us {
    width: 100%;
    margin: 0 auto;
}

.about__us__header {
    background: url('../storage/page_cover/aboutus.png') no-repeat center center fixed;
    background-size: cover;
    padding: 17rem;
    margin: 0;
    color: #FFF;
}

@media screen and (max-width: 360px) {

    .about__us__header {
        background-size: contain;
        padding: 10rem 5rem;
    }
}

@media screen and (min-width: 360.1px) and (max-width: 375px) {

    .about__us__header {
        background-size: contain;
        padding: 15rem 11.7rem;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {

    .about__us__header {
        background-size: contain;
        padding: 10rem 11.5rem 20rem;
    }
}

.about__us__header 
.about-us-header-text {

    color: #FFF;
    font-size: 3.5rem;
}

@media screen and (max-width: 768px) {

    .about__us__header 
    .about-us-header-text {
        display: none;
    }
}

.about__us__header h5 {

    font-size: 1.25rem;
    padding: .5em;
    background: rgb(123, 123, 252);
    border-left: 5px solid rgb(199, 199, 255);
    border-right: 5px solid rgb(199, 199, 255);
}


.landing__page__about__us 
.landing-image-about-us {

    height: 650px;
}

@media screen and (max-width: 768px) {

    .landing__page__about__us
    .landing-image-about-us {
        height: auto;
    }
}

.landing__page__about__us
.about-us-assets {

    width: 100%;
    margin: 0 auto;
}

.landing__page__about__us 
.our-achievements
{

    width: 100%;
    background: rgb(255, 255, 255);
    list-style-type: none;
}

.landing__page__about__us 
.our-achievements > * {

    flex-basis: 18.75rem;
    border: .125rem solid rgb(65, 65, 65);
}


.landing__page__about__us li {

    background: rgb(255, 255, 255);
    margin: 2rem;
    padding: 2rem;
    border-radius: 20rem;
    text-align: center;
}

.landing__page__about__us li:nth-child(1) a::before {

    content: "\f0c0";
    margin-right: .5rem;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: rgb(255, 83, 83);
}

.landing__page__about__us li:nth-child(2) a::before {

    content: "\f5a2";
    margin-right: .5rem;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: rgb(120, 83, 255);
}
.landing__page__about__us li:nth-child(3) a::before {

    content: "\f781";
    margin-right: .5rem;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: rgb(250, 227, 24);
}
.landing__page__about__us li:nth-child(4) a::before {

    content: "\f4fc";
    margin-right: .5rem;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: rgb(0, 224, 93);
}
.landing__page__about__us li:nth-child(5) a::before {

    content: "\f012";
    margin-right: .5rem;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    color: rgb(0, 0, 0);
}

.landing__page__about__us li a {
    
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}

.about__us__achievements__footer {

    justify-content: center;
    background: url('../storage/page_cover/world.png') no-repeat center center fixed;
    background-size: contain;
    padding: 17.5rem;
    text-align: center;
}


@media screen and (max-width: 360px) {
    
    .about__us__achievements__footer {
        padding: 6.5rem;
    }
}

@media screen and (min-width: 360.1px) and (max-width: 375px) {

    .about__us__achievements__footer {
        padding: 6rem 4rem;
    }
}

.about__us__achievements__footer span {
    font-weight: 700;
    font-size: calc(120px / 1rem);
}

.about__us__achievements__footer h1 {
    
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);
    background: rgb(235, 235, 235);
    color: rgb(31, 30, 30);
    padding: 2rem .5rem;
    margin: 0;
    opacity: .9;
}

.about__us__achievements__footer 
.about-us-footer-btn {
    display: inline;
    font-size: 1.5rem;
    padding: 0 1.5rem;
    margin: .5rem 0;
    line-height: 5rem;
    border: .25rem solid white;
}

@media screen and (max-width: 360px) {
    
    .about__us__achievements__footer span {

        font-size: calc(30px / 1rem);
    }

    .about__us__achievements__footer h1 {
        padding: 3rem;
    }

    .about__us__achievements__footer 
    .about-us-footer-btn {
        display: block;
        font-size: 1rem;
        padding: .5rem 2rem;
        line-height: 1.6;
    }

}


/* Services section */

.service__section__landing__page 
.service-section-title {

    width: 100%;
    padding: 2rem 1rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    background: rgb(130, 130, 252);
}

.service__section__landing__page
.service-section-img {
    background: url('../storage/page_cover/services.png') no-repeat center center fixed;
    background-size: contain;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.service__section__landing__page 
.img-description {
    list-style-type: none;
    color: rgb(109, 108, 108);
}

.services__offered {
    width: calc(1200px / 1rem);
    height: 100vh;
}

.services__offered .services-container {

    width: 90%;
    height: 80%;
    margin: -10vh auto;
}

.services__offered .services {

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 1rem;
    
}

.services__offered .services > * {

    position: relative;
    flex-basis: 18.75rem;
    height:25rem;
    margin: 5rem 0 25rem; 
    background: white;
}

@media screen and (max-width: 360px) {
    .services__offered .services > * {
        flex-basis: 16.5625rem;
    }
}

@media screen and (min-width: 360.1px) and (max-width: 375px) {
    .services__offered .services > * {
        flex-basis: 17.40625rem;
    }
}

.services__offered li::after {

    content: '';
    position: absolute; 
    top: -35%;
    left: calc((18.75rem - 10rem) / 2);
    padding: 5rem;
    border-radius: 50rem;
    background: rgb(255, 254, 254);
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
    border: .25rem solid rgb(255, 101, 101);
}

.services__offered li::before {

    content: '1st';
    position: absolute; 
    top: calc(-17.5% - 1rem);
    left: calc(9.375rem - 1.5rem);
    z-index: 1;
    font-size: 2.5rem;
    font-weight: bold;
}

@media screen and (max-width: 360px) {
    .services__offered li::after {
        left: calc((16.5625rem - 10rem) / 2);
    }
    .services__offered li::before {
        left: calc(8.28125rem - 1.5rem);
    }
}

@media screen and (min-width: 360.1px) and (max-width: 375px) {
    .services__offered li::after {
        left: calc((17.40625rem - 10rem) / 2);
    }
    .services__offered li::before {
        left: calc(8.703125rem - 1.5rem);
    }
}

/* card info */
/* img */
.service-item .service-img {

    width: 100%;
    height: 12.5rem;
    background: rgb(136, 135, 135);
}
/* title */
.service-item .service-title {
    font-size: 1.25rem;
    margin: 2.5rem 0;
}
/* description */
.service-item .service-description {

    display: flex;
    align-items: center;
    width: 100%;
    height: 15rem;
    background: rgb(255, 255, 255);
    border-top: .125rem solid rgb(148, 148, 148);;
}

.service-item .service-footer {
    
    display: flex;
    justify-content: center;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);

}

.service-item .service-footer > * {

    width: 100%;
    padding: 1rem 1.5rem;
    background: rgb(255, 255, 255);
}

.service-item .service-footer div:focus,
.service-item .service-footer div:hover {

    text-decoration: none;
    outline: none;
    transform: scale(1.1);
    color: white;
    background: rgb(255, 201, 101);
}

.service-item .service-footer div:nth-child(1) {
    border-right: .125rem solid rgb(100, 100, 100);
}

.service-item .service-footer a {
    color: rgb(56, 56, 56);
}





@media screen and (max-width: 768px) {

    .landing-image-services {
        height: auto;
    }
}

/*
 ___________________________________________
 |
 | HOME PAGE SECTION
 |
 |___________________________________________
*/
.landing-page {

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    background: url('../storage/page_cover/cover.png') no-repeat center center fixed;
    background-size: contain;
    width: 100%;
    height: 75vh;
}

.landing-text-container {

    height: 90vh;
    margin: auto 0;

}
.home-page-landing-text {

    flex-basis: 7rem; 
    width: 10rem;
    text-align: center;
    margin: .5rem 0;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    border: .125rem solid rgb(95, 95, 95);
    background: rgb(118, 109, 255); 
}

.brand__quote {

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 90%;
    padding: 5rem;
    margin: 2.5rem auto;
    border-top: .5rem solid rgb(253, 105, 105);
    border-bottom: .5rem solid rgb(253, 105, 105);
    border-radius: .5rem;
    font-size: 2rem;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
    background: url('../storage/page_cover/typewriter.png') no-repeat center center fixed;
    background-size: contain;
}
.brand__quote .brand-description {

    background: rgba(197, 197, 197, 0.5);
    border-bottom: .5rem solid rgb(255, 79, 79);
    padding: 2rem;

}

.brand__quote .emphasized {
    font-family: 'Segoe Script';
}

.brand__quote .get-started-btn {

    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    color: white;
    background: rgb(188, 112, 243);
    border: none;
}

/*
 ___________________________________________
 |
 | FOOTER AND CONTACT US PAGE SECTION
 |
 |___________________________________________
*/

.footer {

    width: 100%;
    height: 80vh;
    margin: 1.5rem 0 12rem;
    background: url( '../storage/page_cover/mail.png') no-repeat left fixed;
    background-size: contain;
}

/*
 ___________________________________________
 |
 | CONTACT PAGE SECTION
 |
 |___________________________________________
*/

.footer .contact__form {

    width: 100%;
    height: 70vh;
    margin: 0 auto 10rem;
}

.footer .contact-form {

    padding: 2em;
}

.footer input {

    margin-bottom: 2em;
}

.footer .footer__info {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80vh;
    margin: 4rem auto 0;
    padding: 2em;
    background: rgb(56, 56, 56);

}

@media screen and (max-width: 768px) {

    .footer .footer__info {
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;
        width: 100%;
        height: 120vh;
        padding: 2em 0;
        margin-top: 15em;
    }
    .footer ul {
        padding: 0;
        margin: 0;
    }
}

.footer__info > * {

    flex-basis: 300px;
}

.footer h5 {
    color: rgb(196, 196, 196);
}

.footer .split {

    list-style-type: none; 
    flex-direction: column;
}

.footer-info li a {

    text-decoration: none;
}

/*
 ___________________________________________
 |
 | CONTACT US MESSAGE SECTION
 |
 |___________________________________________
*/

.contact__us__message__area {

    width: 80%;
    height: 80vh;
}

.contact__us__message__area .contact-logo {
    
    font-size: 1.5rem;
}

.contact__us__message__area .contact-message-body {

    text-align: justify;
}

/*
 ___________________________________________
 |
 | FOOTER SECTION
 |
 |___________________________________________
*/
.footer .copyright {

    height: 10vh;
    width: 50%;
    margin: 1em auto;
    text-align: center;
}

.footer .social-media-links {

    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 18px 0;
}

.footer .social-media-link {

    font-size: 2em;
}

/*
 ___________________________________________
 |
 | USER SECTION
 |
 |___________________________________________
*/


/*
 ___________________________________________
 |
 | DASHBOARD SECTION
 |
 |___________________________________________
*/

.create-post {
    position: fixed;
    right: 5%;
    bottom: 10%;
    padding: .3em .35em;
    box-shadow: 0 0 .125em rgba(32, 32, 32, 0.5);
    color: black;
    background: white;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.create-post:hover {
    transform: scale(1.1);
}

/*
 ___________________________________________
 |
 | LOGIN PAGE
 |
 |___________________________________________
*/

.user__login {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 5rem;
}
.users {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30rem;
}

.users > * {

    margin: 1rem 0 0 .125rem;
}


.container-recent-logins {

    height: auto;
}

.container-recent-logins
.recent-login-card {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.recent__logins 
.recent-login-card {

    width: 10rem;
    height: 13rem;
}

.recent__logins .card-title {
    
    text-align: center;
    font-size: 1rem;
    font-weight: 700;

}

.login__form {

    margin: 2.5rem auto 0;
    width: 40rem;
}




/* sidebar */
.profile-outer-container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;

}

.profile-side-bar {

    height: 100vh;
    width: 15%;

}

.profile-side-bar .side-bar {

    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 62vh;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    background: rgb(53, 53, 53);
}

.profile-side-bar .side-bar-img{
    margin-bottom: 3em;
}

.profile-side-bar img {

    width: 90%;
    margin: 11px;
    border-radius: 10em;
}

.profile-side-bar li:nth-child(1) {

    margin: 4em .5em .5em;
}
.profile-side-bar li:nth-child(2)::after {

    content: '2';
    margin: 0 0 3em 5px;
    width: 40px;
    height: 10px;
    background: red;
    border-radius: 5em;
    text-align: center;

}

.profile-side-bar .side-bar-item {

    margin: 1em .5em .5em;
    padding: .5em 1.5em;
    border-left: 2px solid antiquewhite;
}

.profile-side-bar .side-bar-link {

    font-weight: 500;
    color: white;
}

.profile-side-bar .side-bar-footer {

    padding: .5em;
    margin: .5em 0 0;
    border-top-right-radius: .5em;
    text-align: justify;
    color: white;
    background: rgb(53, 53, 53);

}



.profile-container {

    width: 85%;
    height: 80vh;
    margin: auto 0;
}


.profile-container .header__profile__nav {

    width: 100%;
    height: 15vh;
}

.profile-container .profile-nav {

    height: 10vh;
    width: 80%;
    margin: 0 auto;
}

.profile-container .profile-navbar-divider {
    width: 80%;
}

.profile-container .profile-nav-list {

    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

.profile-container .profile-item {

    line-height: 10vh;
}

.profile-container .profile-link {

    font-size: 1.125rem;
    color: rgb(172, 170, 170);
}


.profile-container .profile__main__content {

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

}

.profile-container .profile-info-container {
    
    width: 40%;
    height: 75vh;
    padding: 2.5em;
    margin: 0 0 0 .5em;
    background:#FFF;
}

.profile-container .profile-info {

    display: flex;
    flex-flow: column nowrap;
    font-family: sans-serif;
    margin-top: 5em;
}

.profile-container label {

    font-weight: 700;
}
.profile-container input {

    margin: 0 0 2em;
    background: transparent;
    border-top: none;
    border-bottom: .025px solid black;
    border-right: none;
    border-left: none;
}

/*
 ___________________________________________
 |
 | PROFILE AVATAR SECTION
 |
 |___________________________________________
*/

.profile__avatar {

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 0 0 auto;
}

.profile__avatar img {

    width: 40%;
    margin: 0 auto;
    border-radius: 1.5em;
}

.profile__avatar .profile-user-avatar-name {

    text-align: center;
}

.profile__avatar .profile-img-description {
    
    width: 80%;
    margin: 0 auto;
    text-align: center;
}